@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout_FrontEnd.cshtml";
}
<!-- Load required Bootstrap and BootstrapVue CSS -->
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

<!-- Load polyfills to support older browsers -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

<!-- Load Vue followed by BootstrapVue -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

<!-- Load the following for BootstrapVueIcons support -->
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
<div class="main-pic-1 pt-146">
    <img src="~/img/user/shop-application-banner_dweb-01.jpg" />
</div>
<div class="container fw-bolder p-4 text-center">
    <p>
        歡迎你！Hatsukoi 是亞洲領先的設計商品購物網站，我們期待眾多優秀品牌的加入，與 Hatsukoi 一起將商品販售至世界各地，用好設計實現更多人的美感生活。為了確保商品符合 Hatsukoi
        商品販售政策，我們會審核所有開館申請。以下問題大約可在 10 分鐘左右完成填寫，感謝你抽出時間與我們分享你的品牌！
    </p>
</div>
<div class="container">
    <div class="max-768 pb-5" id="BeSellerApp" v-cloak>
        <div class="mb-3">
            <label for="be-seller-my-account" class="form-label fw-bolder text-small my-0 pt-3">
                申請人姓名 <sup class="text-danger">*</sup>
            </label>
            <div id="be-seller-my-account-help" class="form-text my-1 text-small">請填寫品牌負責人或主要聯絡人姓名</div>
            <input type="text" class="form-control" id="be-seller-my-account" v-model="applyName"
                   aria-describedby="be-seller-my-account-help">
            <span class="d-block my-2 text-small text-red">{{ applyNameWarn }}</span>
        </div>
        <div class="mb-3">
            <label for="be-seller-password" class="form-label fw-bolder text-small pt-3">
                手機號碼 <sup class="text-danger">*</sup>
            </label>
            <input type="number" class="form-control" id="be-seller-password" v-model="phone">
            <span class="d-block my-2 text-small text-red">{{ phoneWarn }}</span>
        </div>
        <div class="mb-3">
            <label for="be-seller-name" class="form-label fw-bolder text-small my-0 pt-3">
                申請人身分證字號 <sup class="text-danger">*</sup>
            </label>
            <div id="be-seller-name-help" class="form-text my-1 text-small">
                請填寫品牌負責人的身份證字號
            </div>
            <input type="text" class="form-control" id="be-seller-name" aria-describedby="be-seller-name-help"
                   v-model="idNumber">
            <span class="d-block my-2 text-small text-red">{{ idNumberWarn }}</span>
        </div>
        <div class="mb-3">
            <label for="be-seller-name" class="form-label fw-bolder text-small my-0 pt-3">
                營業公司名稱 <sup class="text-danger">*</sup>
            </label>
            <div id="be-seller-name-help" class="form-text my-1 text-small">
                請填寫公司名稱例如:xxx股份有限公司
            </div>
            <input type="text" class="form-control" id="be-seller-name" aria-describedby="be-seller-name-help"
                   v-model="componient">
            <span class="d-block my-2 text-small text-red">{{ componientWarn }}</span>
        </div>
        <div class="mb-3">
            <label for="be-seller-name" class="form-label fw-bolder text-small my-0 pt-3">
                品牌名稱 (設計館名稱) <sup class="text-danger">*</sup>
            </label>
            <div id="be-seller-name-help" class="form-text my-1 text-small">
                這會成為你的 Hatsukoi 設計館名稱，取個易讀好懂的品牌名稱吧
            </div>
            <input type="text" class="form-control" id="be-seller-name" aria-describedby="be-seller-name-help"
                   v-model="shopName">
            <span class="d-block my-2 text-small text-red">{{ shopNameWarn }}</span>
        </div>
        <div class="mb-3">
            <label for="be-seller-account" class="form-label fw-bolder text-small my-0 pt-3">
                設計館帳號 <sup class="text-danger">*</sup>
            </label>
            <div id="be-seller-account-help" class="form-text my-1 text-small">
                給你的設計館取個註冊帳號吧！此帳號將用於登入 Hatsukoi
                設計館，也會直接成為你設計館的網址（如 hatsukoi.com/xxxx )。建議使用品牌英文名稱，不要使用個人姓名帳號。<span class="text-pink">帳號申請通過後不能修改，請確認已正確填寫喔！</span>
            </div>
            <input type="text" class="form-control" id="be-seller-account" aria-describedby="be-seller-account-help"
                   v-model="account">
            <span class="d-block my-2 text-small text-red">{{ accountWarn }}</span>
            <div class="form-text my-1 text-small">20 字以內，只能使用小寫英文、數字，不可含空格或其他符號</div>
        </div>
        <div class="mb-3">
            <label for="be-seller-name" class="form-label fw-bolder text-small my-0 pt-3">
                聯絡 Email <sup class="text-danger">*</sup>
            </label>
            <div id="be-seller-name-help" class="form-text my-1 text-small">
                申請結果會寄送至此 Email，請確認已正確填寫。建議以 Gmail
                作為聯絡信箱較不容易漏信喔
            </div>
            <input type="text" class="form-control" id="be-seller-name" aria-describedby="be-seller-name-help"
                   v-model="email">
            <span class="d-block my-2 text-small text-red">{{ emailWarn }}</span>
        </div>
        @*        <div class="form-label fw-bolder text-small my-0 pt-3">
        你是怎麼知道 Hatsukoi 的呢？ <sup class="text-danger">*</sup>
        </div>
        <span class="d-block my-2 text-small text-red">「你是怎麼知道 Hatsukoi 的呢？」為必填項目</span>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label text-small" for="flexCheckDefault">
        收到 Hatsukoi 的開館邀請
        </label>
        </div>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="checkbox" value="" id="flexCheckChecked">
        <label class="form-check-label text-small" for="flexCheckChecked">
        參與 Hatsukoi 招募會及其他主題講座
        </label>
        </div>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="checkbox" value="" id="CheckChecked-1-1">
        <label class="form-check-label text-small" for="CheckChecked-1-1">
        親友推薦或自己了解到的
        </label>
        </div>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="checkbox" value="" id="CheckChecked-1-2">
        <label class="form-check-label text-small" for="CheckChecked-1-2">
        由 Hatsukoi 已開館品牌介紹
        </label>
        </div>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="checkbox" value="" id="CheckChecked-1-3">
        <label class="form-check-label text-small" for="CheckChecked-1-3">
        已在 Hatsukoi 經營其他設計館
        </label>
        </div>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="checkbox" value="" id="CheckChecked-1-4">
        <label class="form-check-label text-small" for="CheckChecked-1-4">
        看到 Google 關鍵字招募廣告
        </label>
        </div>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="checkbox" value="" id="CheckChecked-1-5">
        <label class="form-check-label text-small" for="CheckChecked-1-6">
        看到 Facebook 招募廣告
        </label>
        </div>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="checkbox" value="" id="CheckChecked-1-7">
        <label class="form-check-label text-small" for="CheckChecked-1-8">
        看到 Instagram 招募廣告
        </label>
        </div>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="checkbox" value="" id="CheckChecked-1-7">
        <label class="form-check-label text-small" for="CheckChecked-1-8">
        <input type="text" class="form-control" placeholder="其他" aria-label="Username"
        aria-describedby="basic-addon1">
        </label>
        </div>
        <div class="form-label fw-bolder text-small my-0 pt-3">你是以下哪種身分呢？ <sup class="text-danger">*</sup></div>
        <span class="d-block my-2 text-small text-red">「你是以下哪種身份呢？」為必填項目</span>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="radio" name="flexRadioDefault" id="my-Radio-1-1">
        <label class="form-check-label text-small" for="my-Radio-1-1">
        獨立設計師
        </label>
        </div>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="radio" name="flexRadioDefault" id="my-Radio-1-2">
        <label class="form-check-label text-small" for="my-Radio-1-2">
        業餘設計師（我還有其它正職工作）
        </label>
        </div>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="radio" name="flexRadioDefault" id="my-Radio-1-3">
        <label class="form-check-label text-small" for="my-Radio-1-3">
        設計工作室 / 公司行號
        </label>
        </div>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="radio" name="flexRadioDefault" id="my-Radio-1-4">
        <label class="form-check-label text-small" for="my-Radio-1-4">
        單一品牌（獨家）代理商 / 經銷商
        </label>
        </div>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="radio" name="flexRadioDefault" id="my-Radio-1-5">
        <label class="form-check-label text-small" for="my-Radio-1-5">
        多個品牌（獨家）代理商 / 經銷商
        </label>
        </div>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="radio" name="flexRadioDefault" id="my-Radio-1-6">
        <label class="form-check-label text-small" for="my-Radio-1-6">
        <input type="text" class="form-control" placeholder="其他" aria-label="Username"
        aria-describedby="basic-addon1">
        </label>
        </div>
        <div class="form-label fw-bolder text-small my-0 pt-3">
        你要販售的商品屬於以下哪個類別呢？ <sup class="text-danger">*</sup>
        </div>
        <span class="d-block my-2 text-small text-red">「你要販售的商品屬於以下哪個類別呢？」為必填項目</span>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="checkbox" value="" id="kind-Check-1-1">
        <label class="form-check-label text-small" for="kind-Check-1-1">
        實體或數位商品
        <div class="form-check my-3">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="kind-real-project-1-1">
        <label class="form-check-label" for="kind-real-project-1-1">
        原創商品：由設計師本人（或團隊）親自發想、設計
        </label>
        </div>
        <div class="form-check my-3">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="kind-real-project-1-2"
        checked>
        <label class="form-check-label" for="kind-real-project-1-2">
        授權販售：得到原廠品牌或商品原創者書面授權或擁有其他合法權源
        </label>
        </div>
        <div class="form-check mt   -3">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="kind-real-project-1-3"
        checked>
        <label class="form-check-label" for="kind-real-project-1-3">
        古董老件：歷經數十年以上時間淬練，狀況良好且數量有限的古董、古著或物品
        </label>
        </div>
        </label>
        </div>
        <div class="form-check mb-3">
        <input class="form-check-input text-small" type="checkbox" value="" id="kind-Check-1-2" checked>
        <label class="form-check-label text-small" for="kind-Check-1-2">
        體驗活動：獨特且具備好品質的體驗活動
        </label>
        </div>*@
        <div class="mb-3">
            <label for="be-seller-my-account" class="form-label fw-bolder text-small my-0 pt-3">
                計畫在 Hatsukoi 販售的商品分類
                @*                <sup class="text-danger">*</sup>*@
            </label>
            <div id="be-seller-my-account-help" class="form-text my-1 text-small">
                可選擇多個商品分類，各分類下的細項可在 Hatsukoi 首頁查看
            </div>
            @*            <span class="d-block my-2 text-small text-red">「計畫在 Pinkoi 販售的商品分類」為必填項目</span>*@
            <div class="row text-small my-3">
                <div class="col-4 col-md-3 my-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Categories-1-1" value="option1">
                        <label class="form-check-label" for="Categories-1-1">衣著良品</label>
                    </div>
                </div>
                <div class="col-4 col-md-3 my-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Categories-1-2" value="option1">
                        <label class="form-check-label" for="Categories-1-2">包包提袋</label>
                    </div>
                </div>
                <div class="col-4 col-md-3 my-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Categories-1-3" value="option1">
                        <label class="form-check-label" for="Categories-1-3">配件飾品</label>
                    </div>
                </div>
                <div class="col-4 col-md-3 my-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Categories-1-4" value="option1">
                        <label class="form-check-label" for="Categories-1-4">文具卡片</label>
                    </div>
                </div>
                <div class="col-4 col-md-3 my-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Categories-1-5" value="option1">
                        <label class="form-check-label" for="Categories-1-5">媽咪寶寶</label>
                    </div>
                </div>
                <div class="col-4 col-md-3 my-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Categories-1-6" value="option1">
                        <label class="form-check-label" for="Categories-1-6">居家生活</label>
                    </div>
                </div>
                <div class="col-4 col-md-3 my-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Categories-1-7" value="option1">
                        <label class="form-check-label" for="Categories-1-7">寵物用品</label>
                    </div>
                </div>
                <div class="col-4 col-md-3 my-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Categories-1-8" value="option1">
                        <label class="form-check-label" for="Categories-1-8">DIY 材料</label>
                    </div>
                </div>
                <div class="col-4 col-md-3 my-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Categories-1-9" value="option1">
                        <label class="form-check-label" for="Categories-1-9">運動休閒</label>
                    </div>
                </div>
                <div class="col-4 col-md-3 my-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Categories-1-10" value="option1">
                        <label class="form-check-label" for="Categories-1-10">品味美食</label>
                    </div>
                </div>
                <div class="col-4 col-md-3 my-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Categories-1-11" value="option1">
                        <label class="form-check-label" for="Categories-1-11">創意科技</label>
                    </div>
                </div>
                <div class="col-4 col-md-3 my-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Categories-1-12" value="option1">
                        <label class="form-check-label" for="Categories-1-12">鞋履襪品</label>
                    </div>
                </div>
                <div class="col-4 col-md-3 my-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Categories-1-13" value="option1">
                        <label class="form-check-label" for="Categories-1-13">廚房餐桌</label>
                    </div>
                </div>
                <div class="col-4 col-md-3 my-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Categories-1-14" value="option1">
                        <label class="form-check-label" for="Categories-1-14">美妝保養</label>
                    </div>
                </div>
                <div class="col-4 col-md-3 my-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Categories-1-15" value="option1">
                        <label class="form-check-label" for="Categories-1-15">體驗活動</label>
                    </div>
                </div>
                <div class="col-4 col-md-3 my-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Categories-1-16" value="option1">
                        <label class="form-check-label" for="Categories-1-16">數位創作</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="sell-kind" class="form-label fw-bolder text-small my-0 pt-3">
                商品出貨地點/體驗活動舉辦地 <sup class="text-danger">*</sup>
            </label>
            <div id="sell-kind" class="form-text my-1 text-small">請填寫商品會從哪裡寄出或體驗活動在哪裡舉辦，這會影響你的設計館所在地及相關設定</div>
            <select class="form-select my-2" aria-label="Default select example" v-model="sendFrom">
                <option value="台灣" selected>台灣</option>
                <option value="中國大陸">中國大陸</option>
                <option value="日本">日本</option>
                <option value="韓國">韓國</option>
                <option value="印尼">印尼</option>
                <option value="印度">印度</option>
                <option value="馬來西亞">馬來西亞</option>
                <option value="新加坡">新加坡</option>
                <option value="越南">越南</option>
                <option value="緬甸">緬甸</option>
                <option value="俄羅斯">俄羅斯</option>
                <option value="英國">英國</option>
                <option value="美國">美國</option>
                <option value="德國">德國</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="make-project-1" class="form-label fw-bolder text-small my-0 pt-3">
                商品產地/體驗活動舉辦縣市 <sup class="text-danger">*</sup>
            </label>
            <div id="make-project-1-help" class="form-text my-1 text-small">
                請填寫商品是在哪裡生產的，品牌代理商請填寫原品牌的產地（如：台灣設計中國大陸製，請填寫中國大陸）；體驗活動請填寫活動舉辦縣市
            </div>
            <input type="text" class="form-control" id="make-project-1" aria-describedby="make-project-1" v-model="madeIn">
            <span class="d-block my-2 text-small text-red">{{ madeInWarn }}</span>
        </div>
        @*        <div class="form-label fw-bolder text-small my-0 pt-3">品牌年營業額 <sup class="text-danger">*</sup></div>
        <span class="d-block my-2 text-small text-red">「品牌年營業額」為必填項目</span>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="radio" name="flexRadioDefault" id="earn-money-1-1">
        <label class="form-check-label text-small" for="earn-money-1-1">
        50 萬以下
        </label>
        </div>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="radio" name="flexRadioDefault" id="earn-money-1-2">
        <label class="form-check-label text-small" for="earn-money-1-2">
        50~100 萬
        </label>
        </div>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="radio" name="flexRadioDefault" id="earn-money-1-3">
        <label class="form-check-label text-small" for="earn-money-1-3">
        100~300 萬
        </label>
        </div>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="radio" name="flexRadioDefault" id="earn-money-1-4">
        <label class="form-check-label text-small" for="earn-money-1-4">
        300~500 萬
        </label>
        </div>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="radio" name="flexRadioDefault" id="earn-money-1-5">
        <label class="form-check-label text-small" for="earn-money-1-5">
        500~1000 萬
        </label>
        </div>
        <div class="form-check my-3">
        <input class="form-check-input text-small" type="radio" name="flexRadioDefault" id="earn-money-1-6">
        <label class="form-check-label text-small" for="earn-money-1-6">
        1000 萬以上
        </label>
        </div>*@
        <div class="mb-3 text-small">
            <label for="src-1" class="form-label fw-bolder text-small my-0 pt-3">
                品牌的社群媒體、通路連結或實體活動經驗 <sup class="text-danger">*</sup>
            </label>
            <div id="src-1-help" class="form-text my-1 text-small">
                歡迎提供品牌社群連結（如 Facebook、Instagram 等）或官網及其他通路連結（如
                PChome、Etsy 等）給我們參考；如品牌有參與實體市集的經驗，請一併提供相關連結，會是審核重要評估的項目之一。
            </div>
            <input type="text" class="form-control" id="src-1" aria-describedby="src-1" placeholder="http(s)://" v-model="socialMedia">
            <span class="d-block my-2 text-small text-red">{{ socialMediaWarn }}</span>
        </div>
        <div class="mb-3 text-small">
            <label for="illustrate-1" class="form-label fw-bolder text-small my-0 pt-3">
                品牌簡介 <sup class="text-danger">*</sup>
            </label>
            <div id="illustrate-1-help" class="form-text my-1 text-small">
                來與我們分享你的品牌和商品特色吧。請重點介紹你的設計理念及過程、商品亮點及品牌故事。其他想對 Hatsukoi 說的話，也歡迎告訴我們！
            </div>
            <textarea class="form-control" id="illustrate-1" rows="3" v-model="introduction"></textarea>
            <span class="d-block my-2 text-small text-red">{{ introductionWarn }}</span>
        </div>
        <div class="mb-3 text-small">
            <div class="form-label fw-bolder text-small my-0 pt-3">
                請提供 5 張可直接上架的商品 / 體驗活動照片 <sup class="text-danger">*</sup>
            </div>
            <div id="formFile-help" class="form-text my-1 text-small">
                請提供可清晰瀏覽的商品實拍照。照片勿後製上
                logo、文字；請勿過度使用濾鏡、合成圖片或讓商品失焦。請提供解析度 72dpi 以上的 JPG 或 PNG 圖檔，不符合規格的圖檔將無法上傳
            </div>
            <span class="d-block my-2 text-small text-red">{{ picWarn }}</span>
            <label for="formFile" class="btn bg-light border-main p-2 px-4">上傳照片</label>
            <input class="d-none" type="file" accept="image/*" id="formFile" multiple v-on:change="previewMultiImage">
            <div class="row justify-content-around" id="preview" v-if="preview_list.length">
                <div class="w60" v-for="item, index in preview_list" :key="index">
                    <img :src="item">
                </div>
            </div>
            <button v-on:click="reset" class="btn bg-light border-main p-2 px-4">清除選擇的照片</button>
        </div>
        <div class="form-check my-5 text-small">
            <input class="form-check-input" type="checkbox" value="" id="rull-1" v-model="checked">
            <label class="form-check-label" for="rull-1">
                我已閱讀 Hatsukoi 商品販售政策並確認我的商品屬於可販售的類別
            </label>
            <span class="d-block my-2 text-small text-red">{{ checkedWarn }}</span>
        </div>
        <span class="d-block my-2 text-small text-red">{{ warnCheck }}</span>
        <b-overlay class="d-flex justify-content-center" :show="isbusy">
            <template #overlay>
                <div class="text-center text-danger my-2">
                    <b-spinner class="align-middle">
                    </b-spinner>
                    <strong>Loading...</strong>
                </div>
            </template>
            <b-input-group size="lg" v-bind:aria-hidden="!isbusy">
                <b-button id="AppltBtn" class="btn bg-main mx-auto text-white" v-on:click="sendApply" v-bind:disabled="dis">送出</b-button>
            </b-input-group>
        </b-overlay>
    </div>
</div>
<script>
    const BeSellerApp = new Vue({
        el: '#BeSellerApp',
        data: {
            applyName: '',
            phone: '',
            shopName: '',
            account: '',
            email: '',
            sendFrom: '台灣',
            madeIn: '',
            socialMedia: '',
            introduction: '',
            idNumber: '',
            componient:'',
            componientWarn:'',
            idNumberWarn: '',
            checked: false,
            applyNameWarn: '',
            phoneWarn: '',
            shopNameWarn: '',
            accountWarn: '',
            emailWarn: '',
            madeInWarn: '',
            socialMediaWarn: '',
            introductionWarn: '',
            checkedWarn: '請選擇是否同意，感謝！',
            picWarn: '請提供 5 張照片',
            preview_list: [],
            image_list: [],
            warnCheck: '',
            isbusy: false,
        },
        watch: {
            componient: function () {
                let r = /^[\u4E00-\u9FFFA-Za-z]+$/
                if (!r.test(this.componient)) {
                    this.componientWarn = '「營業公司名稱」為必填項目，並且只能為英文或中文。'
                }
                else {
                    this.componientWarn = ''
                }
            },
            applyName: function () {
                let r = /^[\u4E00-\u9FFFA-Za-z]+$/
                if (!r.test(this.applyName)) {
                    this.applyNameWarn = '「申請人姓名」為必填項目，並且只能為英文或中文。'
                }
                else {
                    this.applyNameWarn = ''
                }
            },
            idNumber: function () {
                let r = /^[a-zA-Z][a-zA-Z0-9_]{4,15}$/
                if (!r.test(this.idNumber)) {
                    this.idNumberWarn = '「申請人身分證」為必填項目，並且只能為英文開頭，並且為英文或數字'
                }
                else {
                    this.idNumberWarn = ''
                }
            },
            phone: function () {
                let r = /^09[0-9]{8}$/
                if (!r.test(this.phone)) {
                    this.phoneWarn = '「手機號碼」為必填項目，並且為09開頭的10碼數字。'
                }
                else {
                    this.phoneWarn = ''
                }
            },
            shopName: function () {
                let r = /^[\u4E00-\u9FA5A-Za-z0-9_]+$/
                if (!r.test(this.shopName)) {
                    this.shopNameWarn = '「品牌名稱（設計館名稱）」為必填項目'
                }
                else {
                    this.shopNameWarn = ''
                }
            },
            account: function () {
                let r = /^[a-zA-Z][a-zA-Z0-9_]{4,15}$/
                if (!r.test(this.account)) {
                    this.accountWarn = '帳號只能使用英數字，並且使用英文開頭'
                }
                else {
                    this.accountWarn = ''
                }
            },
            email: function () {
                let r = /^\w+([-+.]\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
                if (!r.test(this.email)) {
                    this.emailWarn = 'email為必填項目，並且格式要正確。'
                }
                else {
                    this.emailWarn = ''
                }
            },
            madeIn: function () {
                let r = /^[\u4E00-\u9FA5A-Za-z]+$/
                if (!r.test(this.madeIn)) {
                    this.madeInWarn = '「商品產地/體驗活動舉辦縣市」為必填項目，並且不能有數字。'
                }
                else {
                    this.madeInWarn = ''
                }
            },
            socialMedia: function () {
                let r = /(http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@@?^=%&:/~\+#]*[\w\-\@@?^=%&/~\+#])?/
                if (!r.test(this.socialMedia)) {
                    this.socialMediaWarn = '請輸入 http(s):// 開頭的連結'
                }
                else {
                    this.socialMediaWarn = ''
                }
            },
            introduction: function () {
                if (this.introduction.trim().length <= 20) {
                    this.introductionWarn = '「品牌簡介」為必填項目，至少20字'
                }
                else {
                    this.introductionWarn = ''
                }
            },
            checked: function () {
                if (this.checked) {
                    this.checkedWarn = ''
                }
                else {
                    this.checkedWarn = '請選擇是否同意，感謝！'
                }
            }
        },
        computed: {
            dis() {
                if (this.applyName != '' && this.phone != '' && this.shopName != '' && this.account != '' && this.email != '' && this.madeIn != '' && this.socialMedia != '' && this.introduction != '' && this.idNumber != ''
                    && this.checked == true && this.applyNameWarn == '' && this.phoneWarn == '' && this.shopNameWarn == '' && this.accountWarn == '' && this.emailWarn == '' && this.idNumberWarn == ''
                    && this.madeInWarn == '' && this.socialMediaWarn == '' && this.introductionWarn == '' && this.picWarn == '') {
                    return false
                }
                else {
                    return true
                }
            }
        },
        methods: {
            previewMultiImage: function (event) {
                let input = event.target;
                let count = input.files.length;
                if (this.preview_list.length + count > 4) {
                    this.picWarn = '';
                }
                else {
                    this.picWarn = '請提供 5 張照片';
                }
                let index = 0;
                if (input.files) {
                    while (count--) {
                        let reader = new FileReader();
                        reader.onload = (e) => {
                            this.preview_list.push(e.target.result);
                        }
                        this.image_list.push(input.files[index]);
                        reader.readAsDataURL(input.files[index]);
                        index++;
                    }
                }
            },
            reset: function () {
                this.image_list = [];
                this.preview_list = [];
            },
            sendApply: function () {
                $('#AppltBtn').attr('disabled', true);
                let json = this
                json.isbusy = true
                let BeSellerDto = {
                    ApplyName: json.applyName,
                    Phone: json.phone,
                    ShopName: json.shopName,
                    Account: json.account,
                    Email: json.email,
                    SendFrom: json.sendFrom,
                    MadeIn: json.madeIn,
                    SocialMedia: json.socialMedia,
                    Introduction: json.introduction,
                    ImgList: json.preview_list,
                    IdNumber: json.idNumber,
                    Componient:json.componient
                }
                $.ajax({
                    url: '/api/User/ApplySeller',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify({
                        ApplyName: json.applyName,
                        Phone: json.phone,
                        Componient: json.shopName,
                        Account: json.account,
                        Email: json.email,
                        SendFrom: json.sendFrom,
                        MadeIn: json.madeIn,
                        SocialMedia: json.socialMedia,
                        Introduction: json.introduction,
                        ImgList: json.preview_list,
                        IdNumber: json.idNumber,
                        ShopName: json.componient
                    }),
                    success: function (output) {
                        json.isbusy = false
                        if (output.result.warn == "") {
                            json.warnCheck = ""
                            window.location.href = "/User/Finish"
                        }
                        else {
                            json.warnCheck = output.result.warn
                        }
                        $('#AppltBtn').attr('disabled', false);
                    }
                });
            }
        }
    })
</script>
@section topCSS{
    <link href="~/css/user/beseller.css" rel="stylesheet" />
}