@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout_FrontEnd.cshtml";
}


<div class="container mt-5">
    <div class="w-100 pt-5 d-flex">

        <img src="~/image/cart_v2.png" class="img-fluid"/>
        <div class="d-flex align-items-center justify-content-center">
            <p class="mb-0">系統忙碌中，請稍後再試。</p>
            <a class="btn" href="~/Home/Index">回首頁</a>
        </div>
    </div>

</div>
