@{
    ViewData["Title"] = "SortProduct";
    Layout = "~/Views/Shared/_Layout_Back.cshtml";
}

<div class="shop-manager-main col-12">
    <div class="main-body container">
        <div class="row ">
            <h1 class="main-title">商品自訂排序</h1>
            <!-- 小提醒區塊 -->
            <div class="reminder mb-4">
                <div class="title">小提醒</div>
                <p class="text">拖曳商品至任一位置，或點擊兩個商品互換位置，按下「回復預設」可將商品排序回復為「上架時間新到舊」</p>
            </div>
            <!-- 商品卡片 -->
            <div class="col-6 col-md-2 fw-bolder product-item">
                <div class="product-pic">
                    <img src="https://picsum.photos/seed/picsum/300/300">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        <p>凱旋門真皮電腦公事包-摩卡(13-15吋)</p>
                    </div>
                    <div class="product-price">
                        <p>NT$ 150</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-2 fw-bolder product-item">
                <div class="product-pic">
                    <img src="https://picsum.photos/seed/picsum/300/300">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        <p>凱旋門真皮電腦公事包-摩卡(13-15吋)</p>
                    </div>
                    <div class="product-price">
                        <p>NT$ 150</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-2 fw-bolder product-item">
                <div class="product-pic">
                    <img src="https://picsum.photos/seed/picsum/300/300">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        <p>凱旋門真皮電腦公事包-摩卡(13-15吋)</p>
                    </div>
                    <div class="product-price">
                        <p>NT$ 150</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-2 fw-bolder product-item">
                <div class="product-pic">
                    <img src="https://picsum.photos/seed/picsum/300/300">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        <p>凱旋門真皮電腦公事包-摩卡(13-15吋)</p>
                    </div>
                    <div class="product-price">
                        <p>NT$ 150</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-2 fw-bolder product-item">
                <div class="product-pic">
                    <img src="https://picsum.photos/seed/picsum/300/300">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        <p>凱旋門真皮電腦公事包-摩卡(13-15吋)</p>
                    </div>
                    <div class="product-price">
                        <p>NT$ 150</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-2 fw-bolder product-item">
                <div class="product-pic">
                    <img src="https://picsum.photos/seed/picsum/300/300">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        <p>凱旋門真皮電腦公事包-摩卡(13-15吋)</p>
                    </div>
                    <div class="product-price">
                        <p>NT$ 150</p>
                    </div>
                </div>
            </div>
            <!-- 置底按鈕區 -->
            <div class="buttons fixed-bottom">
                <button type="button" class="btn">回復預設</button>
                <div>
                    <button type="button" class="btn">重新編輯</button>
                    <button type="button" class="btn btn-update">更新</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section topCSS{
    <link href="~/css/product/sort.css" rel="stylesheet" />
}
