<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        .myBtn {
            width: 80px;
        }

        .inputText {
            flex-grow: 1;
        }
    </style>
</head>

<body>
    <div class="container p-5" id="app">
        <div class="input-group mb-3">
            <input type="text" class="form-control newListText" placeholder="todo ..." aria-label="Recipient's username"
                aria-describedby="button-addon2" v-model="inputText">
            <button class="btn btn-outline-secondary btn-primary fw-bolder text-white newList" type="button"
                id="button-addon2" @click="setLocal" @click="getLocal">新增</button>
        </div>
        <div class="input-group my-3" v-for="(todo,index) in localArr">
            <div class="input-group-text">
                <input class="form-check-input mt-0 checkCircle" type="checkbox" v-model="todo.checked"
                    aria-label="Checkbox for following text input" @click="check(todo.checked,index)">
            </div>
            <input v-bind:disabled="disa[index]" type="text" v-model="todo.text" class="form-control inputText"
                aria-label="Text input with checkbox">
            <button type="button" :class="editArr[index]" class="btn btn-warning myBtn update"
                @click="bfEdit(index)">修改</button>
            <button type="button" :class="saveArr[index]" class="btn btn-success myBtn save"
                @click="edit(index)">保存</button>
            <button type="button" class="btn btn-danger myBtn delete" @click="deleteItem(index)">刪除</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                nothing: '',
                inputText: '',
                isChecked: false,
                localArr: [],
                disa: [],
                editArr: [],
                saveArr: []
            },
            methods: {
                setLocal() {
                    this.localArr.push({ text: this.inputText, checked: this.isChecked })
                    this.disa.push(true)
                    this.editArr.push('')
                    this.saveArr.push('d-none')
                    localStorage.setItem("todo", JSON.stringify(this.localArr));
                },
                getLocal() {
                    let local = localStorage.getItem("todo")
                    if (local != null && local != undefined) {
                        this.localArr = JSON.parse(local)
                        this.localArr.forEach((x, ind) => {
                            this.disa.push(true)
                            this.editArr.push('')
                            this.saveArr.push('d-none')
                        });
                    }
                },
                check(bool, index) {
                    bool = !bool
                    this.localArr[index].checked = bool
                    localStorage.setItem("todo", JSON.stringify(this.localArr));
                },
                edit(ind) {
                    let local = JSON.parse(localStorage.getItem("todo"))
                    local[ind] = this.localArr[ind]
                    localStorage.setItem("todo", JSON.stringify(local));
                    this.disa[ind] = !this.disa[ind]
                    this.editArr[ind] = ''
                    this.saveArr[ind] = 'd-none'
                    this.inputText = this.inputText + '1'
                    this.inputText = this.inputText.substr(0, this.inputText.length - 1)
                },
                deleteItem(ind) {
                    let local = JSON.parse(localStorage.getItem("todo"))
                    local.splice(ind, 1)
                    this.localArr = local
                    localStorage.setItem("todo", JSON.stringify(local));
                    this.disa.splice(ind, 1)
                },
                bfEdit(ind) {
                    this.disa[ind] = !this.disa[ind]
                    this.inputText = this.inputText + '1'
                    this.editArr[ind] = 'd-none'
                    this.saveArr[ind] = ''
                    this.inputText = this.inputText.substr(0, this.inputText.length - 1)
                }
            }
        })
        window.onload = () => {
            app.getLocal();
        }
    </script>
</body>

</html>