:root {
    --main-pink: #A27F82;
    --dark-gray: #56565E;
    --light-Gray: #D3C9C9;
    --peach-pink: #E3A4A4;
    --light-pink: #FEF4F6;
}
img{
    width: 100%;
    vertical-align: middle;
}
a{
    color: black !important;
    text-decoration: none !important;
}
.bg-gray{
    background-color: var(--light-pink) !important;
}
.text-gray{
    color: rgb(153, 153, 153) !important;
}
.text-pink{
    color: var(--main-pink) !important;
}
.text-small {
    font-size: 14px;
}
.text-middle-small{
    font-size: 13px;
}
.text-very-small {
    font-size: 10px;
}
.text-big{
    font-size: 17px !important;
}
.text-very-big{
    font-size: 22px !important;
}
li{
    list-style: none;
}
.head-pic{
    width: 50px;
    height: 50px;
    background-image: url(./My.png);
    background-position: center;
    background-size: contain;
}
.mission-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid var(--main-pink);
    font-size: 30px;
}
.mission-next-year{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid var(--peach-pink);
    font-size: 30px;
}
.first-mission{
    height: 120px;
}
#myTab{
    flex-wrap: nowrap;
    overflow-x: auto !important;
    width: 100% !important;
    white-space:nowrap !important;
}
#myTab li button:focus-visible{
    border: none !important;
}
#myTab li button{
    transition: none !important;
}
#myTab li button:focus{
    border: none !important;
    border-bottom: 4px solid var(--main-pink) !important;
}
.no-order-pic{
    width: 350px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
.order-info-card-title{
    background-color: rgb(228, 228, 228);
}
.status{
    border-radius: 20px;
    background-color: var(--main-pink);
    color: white;
}
.buy-item-pic{
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.order-detial-btn{
    width: 140px;
    border: 1px solid var(--dark-gray);
    border-radius: 5px;
}
.order-detial-btn:hover{
    background-color: var(--main-pink);
    color: white;
}
.status-over{
    background-color: var(--dark-gray) !important;
    color: white;
}
.order-detail-card-text{
    flex-wrap: wrap;
    max-width: 350px;
}
.fix-price-area{
    width: 100px;
}
.my-btn-mark{
    border-radius: 5px;
    background-color: var(--main-pink) !important;
    color: white !important;
}
.my-btn-mark a{
    color: white !important;
}
.my-btn-mark:hover{
    background-color: var(--dark-gray);
}
.my-bottom-border{
    border-bottom: 5px solid var(--main-pink);
}
#setting-select{
    width: 100px;
}
.buy-item-big-pic{
    width: 150px;
    height: 150px;
}
@media screen and (min-width:768px){
    .first-mission{
        border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
    }
    div .bg-gray{
        border: none !important;
        background-color: transparent !important;
    }
    div .list-info{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    div .border-md-none{
        border: none !important;
    }
}