@model int
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout_FrontEnd.cshtml";
}
<div class="pt-146 container py-4">
    <h2 class="text-main my-5 fw-bolder fs-4 text-center">重設 Hatsukoi 密碼！</h2>
    <div class="max-500 mx-auto">
        <img src="~/img/user/submitted-successfully.png" />
    </div>
    <div id="resetUser" class="max-500 border rounded mx-auto text-small p-4" v-cloak>
        <div id="userId" class="d-none">@Model</div>
        <p class="my-1">請輸入帳號</p>
        <div class="input-group mt-4">
            <span class="py-2 input-group-text cover-input"><i class="fa-solid fa-user"></i></span>
            <input class="flex-grow-1 cover-input-middle" id="account" v-model="resetAccount"
                   name="account" type="text" aria-label="account" placeholder="Hatsukoi 帳號">
            <span class="input-group-text cover-input" id="eye"></span>
        </div>
        <span class="d-block text-red text-small mx-auto my-2">{{ warnAccount }}</span>
        <p class="my-1">請輸入新密碼</p>
        <div class="input-group mb-3">
            <span class="py-2 input-group-text cover-input"><i class="fa-solid fa-lock"></i></span>
            <input class="flex-grow-1 cover-input-middle" id="password" v-model="resetPassword"
                   name="password" v-bind:type="password1" aria-label="password" placeholder="重設密碼">
            <span class="input-group-text cover-input" id="seepassword-btn" v-on:click="eye1">
                <i class="fa-regular fa-eye-slash"></i>
            </span>
        </div>
        <span class="d-block text-red text-small mx-auto my-2">{{ warnPassword }}</span>
        <p class="my-1">再次輸入</p>
        <div class="input-group">
            <span class="py-2 input-group-text cover-input"><i class="fa-solid fa-lock"></i></span>
            <input class="flex-grow-1 cover-input-middle" id="password2" v-model="repeatPassword"
                   name="password2" v-bind:type="password2" aria-label="password2" placeholder="再次輸入密碼">
            <span class="input-group-text cover-input" id="seepassword-btn2" v-on:click="eye2">
                <i class="fa-regular fa-eye-slash"></i>
            </span>
        </div>
        <span class="d-block text-red text-small mx-auto my-2">{{ warnRepeat }}</span>
        <span class="d-block text-red text-small mx-auto my-2">{{ warnning }}</span>
        <button v-bind:disabled="resetBtn" v-on:click="send" id="open" class="btn my-4 my-btn d-block mx-auto p-2 px-3">確認</button>
    </div>
</div>
<script>
    let userId = document.querySelector('#userId')
    let resetUser = new Vue({
        el: '#resetUser',
        data: {
            resetAccount: '',
            resetPassword: '',
            repeatPassword: '',
            warnAccount: '',
            warnPassword: '',
            warnRepeat: '',
            warnning: '',
            password1: 'password',
            password2: 'password'
        },
        watch: {
            resetAccount: function () {
                let r = /^[a-zA-Z]\w{5,17}$/
                if (!r.test(this.resetAccount)) {
                    this.warnAccount = '帳號只能是以字母開頭，長度在6~18之間，包含字母、數字和下底線'
                }
                else {
                    this.warnAccount = ''
                }
            },
            resetPassword: function () {
                let r = /^[a-zA-Z]\w{5,17}$/
                if (!r.test(this.resetPassword)) {
                    this.warnPassword = '密碼只能是以字母開頭，長度在6~18之間，包含字母、數字和下底線'
                }
                else {
                    this.warnPassword = ''
                }
            },
            repeatPassword: function () {
                if (this.resetPassword != this.repeatPassword) {
                    this.warnRepeat = '密碼不相同，請重新確認'
                }
                else {
                    this.warnRepeat = ''
                }
            }
        },
        computed: {
            resetBtn() {
                if (this.resetAccount == '' ||
                    this.resetPassword == '' ||
                    this.repeatPassword == '' ||
                    this.warnAccount != '' ||
                    this.warnPassword != '' ||
                    this.warnRepeat != '') {
                    return true
                }
                else {
                    return false
                }
            }
        },
        methods: {
            eye1() {
                if (this.password1 == 'password') {
                    this.password1 = 'text'
                }
                else {
                    this.password1 = 'password'
                }
            },
            eye2() {
                if (this.password2 == 'password') {
                    this.password2 = 'text'
                }
                else {
                    this.password2 = 'password'
                }
            },
            send() {
                let vue = this
                $.ajax({
                    url: '/api/Login/ResetPassword',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify({
                        Id: parseInt(userId.innerText),
                        Account: vue.resetAccount,
                        password: vue.resetPassword,
                    }),
                    success: function (output) {
                        if (output.result.rightAccount == "") {
                            window.location.href = "/Login/ResetSuccess"
                        }
                        else {
                            resetUser.$data.warnning = result.rightAccount
                        }
                    }
                })
            }
        }
    })
</script>
@section endCSS{
    <link href="~/css/login/login.css" rel="stylesheet" />
}
@section topCSS{
    <link href="~/css/user/finishseller.css" rel="stylesheet" />
}